<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                
            </div>
            <div class="card-body">
                <table class="table tabla-formato">
                    <thead>
                        <tr>
                            <th>Numero de proyecto</th>
                            <th>Nombre del proyecto</th>
                            <th>Prioridad</th>
                            <th>Fecha</th>
                            <th>Cliente</th>
                            <th>Descripcion</th>
                            <th>Estado</th>
                            <th>Cantidad</th>
                            <th>Fecha requerida</th>
                            <th>Fecha finalizacion</th>
                            <th>Fecha entrega</th>
                            <th>Numero de cortizacion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <a class="button-t" [routerLink]="['/proyectos/updp']" ><i class="fal fa-pencil tam"></i></a>  
                                <a class="button-t" ><i class="fal fa-trash tam"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
