<table class="table table-sm">
    <thead class="tabla-formato">
        <th colspan="2">Numero</th>
        <th colspan="2">Nombre</th>
        <th colspan="2">Prioridad</th>
        <th colspan="2">Fecha</th>
        <th colspan="2">Cliente</th>
        <th colspan="2">Descripcion</th>
        <th colspan="2">Estado</th>
        <th colspan="2">Cantidad</th>
        <th colspan="2">Fecha Requerida</th>
        <th colspan="2">Fecha de Finalizcion</th>
        <th colspan="2">Fecha de entrega</th>
        <th colspan="2">Cotizacion</th>
        <th class="fal fa-trash"></th>
        <th class="fal fa-pencil" style="margin-left:1rem ;"></th>

    </thead>
    <tbody>
        <td class="tabla-formato"></td>
        <td class="tabla-formato"></td>
        <td class="tabla-formato"></td>
        <td class="tabla-formato"></td>
        <td class="tabla-formato"></td>
        <td class="tabla-formato"></td>
        <td class="tabla-formato"></td>
        <td class="tabla-formato"></td>
        <td class="tabla-formato"></td>
        <td class="tabla-formato"></td>
        <td class="tabla-formato"></td>
        <td class="tabla-formato"></td>
        <td class="tabla-formato"></td>
        <td class="tabla-formato"></td>
    </tbody>
  </table>
  
  